/bd_start/
/a/bd_start/
/a/data/bd_start/
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
build/
dist/
*.egg-info/
*.log
*.env
*.local
*.cache
*.tmp
*.egg
*.egg-info/
*.sql
*.sqlite3
.DS_Store
Thumbs.db
001.iml
misc.xml
modules.xml
profiles_settings.xml
vcs.xml
workspace.xml
