{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Каталог компаний Engil.ru: отзывы, контактная информация, услуги.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}engil, engil.ru, каталог компаний, отзывы о компаниях{% endblock %}">
    <title>{% block title %}Каталог компаний{% endblock %}</title>

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div><br>
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Logo" width="111"></a>
            <nav><br>
                <big>
                    <div class="dropdown">
                    </div>
                </big>
            </nav>
        </div>
    </div>
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>

<div id="centeredElement">Кликни меня!</div>
<script>
    var centeredElement = document.getElementById('centeredElement');
    centeredElement.addEventListener('click', function() {
        var newSize = Math.floor(Math.random() * 200) + 100;
        var newColor = '#' + Math.floor(Math.random()*16777215).toString(16);
        centeredElement.style.width = newSize + 'px';
        centeredElement.style.height = newSize + 'px';
        centeredElement.style.backgroundColor = newColor;
    });
</script>

</body>
</html>
