{% extends 'data/base.html' %}

{% block title %}{{ company.org_name1 }} — Отзывы, Информация, Контакты{% endblock %}

{% block description %}
    Узнайте все о компании {{ company.org_name1 }}: отзывы клиентов, контактная информация, услуги и многое другое.
{% endblock %}

{% block keywords %}
    отзывы о {{ company.org_name1 }}, контакты компании {{ company.org_name1 }}, услуги {{ company.org_name1 }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="main-content">
                    <h1>{{ company.org_name1 }}</h1>
                    <p>{{ company.description }}</p>
                    <h5>Контакты:</h5>
                    <p>{{ company.contacts }}</p>
                    <h5>Отзывы</h5>
                    {% for comment in company.comments.all %}
                        <div class="comment">
                            <p><strong>{{ comment.author }}</strong>: {{ comment.content }}</p>
                        </div>
                    {% empty %}
                        <p>Еще нет отзывов.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
