{% load static %}

<h1>{{ company.org_name1 }}</h1>
<div id="mainnew-block">
    {{ company.mainnew|safe }}
</div>

<h5>Контакты</h5>
<div id="contacts">
    {% if company.contact_groups_contacts1_text1 %}
        <a target="_blank" rel="nofollow">{{ company.contact_groups_contacts1_text1 }}</a><br>
    {% endif %}
    {% if company.contact_groups_contacts1_text2 %}
        <a target="_blank" rel="nofollow">{{ company.contact_groups_contacts1_text2 }}</a><br>
    {% endif %}
    {% if company.contact_groups_contacts1_text3 %}
        <a target="_blank" rel="nofollow">{{ company.contact_groups_contacts1_text3 }}</a><br>
    {% endif %}
    {% if company.contact_groups_contacts2_text1 %}
        <a target="_blank" rel="nofollow">{{ company.contact_groups_contacts2_text1 }}</a><br>
    {% endif %}
    {% if company.contact_groups_contacts2_text2 %}
        <a target="_blank" rel="nofollow">{{ company.contact_groups_contacts2_text2 }}</a><br>
    {% endif %}
    {% if company.contact_groups_contacts2_text3 %}
        <a target="_blank" rel="nofollow">{{ company.contact_groups_contacts2_text3 }}</a><br>
    {% endif %}
</div>

<h3>Отзывы</h3>
{% for comment in comments %}
    <div class="comment">
        <p><strong>{{ comment.name }}</strong>, {{ comment.created_at|date:"d M Y" }}</p>
        <p>{{ comment.content }}</p>
        <p>{% if comment.is_positive %}Рекомендую{% else %}Не рекомендую{% endif %}</p>
    </div>
{% empty %}
    <p>Еще нет отзывов</p>
{% endfor %}
