<script id="mainnew-content" type="application/json">
    {{ company_data }}
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const companyData = JSON.parse(document.getElementById("mainnew-content").textContent);
        
        // Обработка поля mainnew и вывод на страницу
        const formattedMainnew = companyData.mainnew.replace(/\\u003B/g, ',')
            .replace(/<br\s*\/?>/g, '\n')
            .replace(/\\u003C/g, '<')
            .replace(/\\u003E/g, '>')
            .replace(/\\u002D/g, '-')
            .trim();
        document.getElementById("mainnew-block").innerHTML = formattedMainnew.replace(/\n/g, '<br>');

        // Обработка контактов
        let contactsHTML = '<h5><b>Контакты</b></h5>';
        const isValidContact = (contact) => contact && !contact.includes('2gis');
        Object.values(companyData.contact_groups).forEach(contact => {
            if (isValidContact(contact)) {
                contactsHTML += `<a target="_blank" rel="nofollow">${contact}</a><br>`;
            }
        });
        document.getElementById("contacts").innerHTML = contactsHTML;
    });
</script>
