{% extends 'data/base.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
{% block description %}Полный каталог компаний для быстрого поиска нужной организации.{% endblock %}
{% block keywords %}engil, engil.ru, каталог компаний, отзывы о компаниях{% endblock %}
{% block title %}Engil.ru – каталог компаний и организаций{% endblock %}

    <div class="content">
        {% block content %}
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-md-9">
                    <div class="main-content">
                        <h1 class="p-4 mb-3 bg-body-tertiary rounded">Каталог компаний</h1><br>
                        <p>Добро пожаловать на engil.ru – актуальный каталог компаний, где вы найдете организации по всем направлениям деятельности. Мы стремимся предоставить полную и достоверную информацию о компаниях, чтобы помочь пользователям легко находить нужные услуги и товары.</p><br>
                        {% for rubric in rubrics %}
                            <li>★ <a href="{% url 'rubric_detail' slug=rubric.slug %}">{{ rubric }}</a></li><br>
                        {% endfor %}<br><br>
                        <p>Наш каталог компаний на engil.ru поможет вам легко найти проверенные организации по нужной специализации. Используйте удобные фильтры и выбирайте надежных партнеров для бизнеса или услуг.</p><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}