{% extends 'data/base.html' %}

{% block description %}Каталог компаний: отзывы, контактная информация, услуги.{% endblock %}
{% block keywords %}engil, engil.ru, каталог компаний, отзывы о компаниях{% endblock %}
{% block title %}Каталог компаний {{ current_year }}{% endblock %}

    <div class="content">
        {% block content %}
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-md-9">
                    <div class="main-content">
                        <h1 class="p-4 mb-3 bg-body-tertiary rounded">Каталог компаний</h1><br>
                        <p>Добро пожаловать на <b>Engil</b>.ru – вашем надежном партнере в поиске объективной информации о различных организациях. Мы предоставляем уникальную платформу, где пользователи делятся своим опытом и оценивают компании...</p><br>
                        {% for rubric in rubrics %}
                            <li>★ <a href="{% url 'rubric_detail' slug=rubric.slug %}">{{ rubric }}</a></li><br>
                        {% endfor %}<br><br>
                        <p>Каталог компаний создан для тех, кто ценит надежные и проверенные источники информации при выборе бизнес-партнеров...</p><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}